# Manipulating Data Frames (Level 2)

In [55]:
import pandas as pd
import numpy as np

In [56]:
df=pd.read_csv('car_prices.csv')

In [57]:
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [58]:
df.shape

(558837, 16)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493484 non-null  object
 6   vin           558833 non-null  object
 7   state         558836 non-null  object
 8   condition     547043 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558837 non-null  int64
 14  sellingprice  558837 non-null  int64
 15  saledate      558812 non-null  object
dtypes: float64(2), int64(3), object(11)
memory usage: 68.2+ MB

In [60]:
df.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
vin                 4
state               1
condition       11794
odometer           94
color             749
interior          749
seller              0
mmr                 0
sellingprice        0
saledate           25
dtype: int64

In [61]:
df.duplicated(keep=False).value_counts()

False    558837
dtype: int64

In [62]:
# Task 1
a=df[df.year==2014]
a1=a.groupby(['make'])['sellingprice'].mean()
print(type(a1))
a1=a1.sort_values()
a1.head()

<class 'pandas.core.series.Series'>

make
smart          8620.000000
FIAT          12585.109290
Mitsubishi    13502.323838
Kia           14341.490037
Volkswagen    14840.196850
Name: sellingprice, dtype: float64

In [63]:
# Task 2
b=df[(df.year==2010)|(df.year==2015)&(df.condition>4.5)]
b1=b.groupby(['year'])['sellingprice'].mean()
print(b1)
increase=((b1.values[1]-b1.values[0])/b1.values[0])
print('The percentage by which the avereage selling price of 2015 model are more the 2010 model ',increase*100,'%')

year
2010    12412.453313
2015    28616.002879
Name: sellingprice, dtype: float64
The percentage by which the avereage selling price of 2015 model are more the 2010 model  130.5426828768487 %

In [64]:
# Task 3
print(df['interior'].value_counts())
# df['interior']=df['interior'].fillna('black')
df.isnull().sum()

black        244347
gray         178582
beige         59758
tan           44093
—             17076
brown          8640
red            1359
blue           1138
silver         1099
off-white       480
purple          339
gold            324
white           252
green           245
burgundy        191
orange          145
yellow           20
Name: interior, dtype: int64

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
vin                 4
state               1
condition       11794
odometer           94
color             749
interior          749
seller              0
mmr                 0
sellingprice        0
saledate           25
dtype: int64

In [65]:
c=df[(df.interior=='black')|(df.interior=='gray')]
c1=c.groupby(['interior'])['mmr'].mean()
print(c1)
increase=((c1.values[0]-c1.values[1])/c1.values[1])
print('The mmr of black interior is more then gray by',increase*100,'%')

interior
black    15858.520055
gray     11189.776545
Name: mmr, dtype: float64
The mmr of black interior is more then gray by 41.723295290084636 %

In [66]:
# Task 4
d=df[(df.year>=2013)&(df.year<=2015)]
d1=pd.pivot_table(d,index=['color','make'],values=['sellingprice'],aggfunc='mean')
d2=pd.pivot_table(d,index=['color','make'],values=['sellingprice'],aggfunc='sum')
d3=d.groupby(['color'])['make'].count().sort_values(ascending=False)
d4=d.groupby(['color','make'])['make'].count().sort_values(ascending=False)
print(d4)
print(d3)
print('\n',d1['sellingprice'].sort_values(ascending=False).head())
print('\n',d2['sellingprice'].sort_values(ascending=False).head())
print('\nThe color of cars people use most often is:',d3.index[0])

color   make
white   Ford         9969
black   Ford         7102
—       Ford         6465
white   Chevrolet    5143
silver  Ford         5101
                     ...
yellow  Subaru          1
        Toyota          1
green   Acura           1
        Cadillac        1
purple  Volvo           1
Name: make, Length: 550, dtype: int64
color
white        40055
black        35563
gray         29464
silver       26143
red          17230
blue         13744
—            12801
brown         2672
burgundy      2486
green         2096
gold          1744
beige         1686
orange         583
purple         397
off-white      375
yellow         262
charcoal       187
turquoise       35
pink            29
lime             8
Name: make, dtype: int64

 color  make
white  Rolls-Royce    171500.000000
black  Bentley        140350.000000
gray   Bentley        137916.666667
—      Bentley        137375.000000
blue   Bentley        137333.333333
Name: sellingprice, dtype: float64

 color   make
white   Ford         194287477
black   Ford         139940220
—       Ford         126046805
white   Chevrolet     94246598
silver  Ford          88422844
Name: sellingprice, dtype: int64

The color of cars people use most often is: white

In [67]:
# Task 5
e=df[(df.body=='SUV')&(df.saledate=='Fri Dec 19 2014 09:00:00 GMT-0800 (PST)')|(df.saledate=='Thu Jan 15 2015 04:30:00 GMT-0800 (PST)')]
print('Total_sale:',e['sellingprice'].sum())
e1=pd.pivot_table(e,index=['saledate'],values=['sellingprice'],aggfunc='sum')
print(e1)
increase=(e1.values[1]-e1.values[0])/e1.values[0]
print('\nThe increase in the sales is by ',increase*100,'%')

Total_sale: 50776450
                                         sellingprice
saledate
Fri Dec 19 2014 09:00:00 GMT-0800 (PST)      10343000
Thu Jan 15 2015 04:30:00 GMT-0800 (PST)      40433450

The increase in the sales is by  [290.92574688] %

In [68]:
# Task 6
discountedprice=list(df.sellingprice)
df.insert(15,'discountedprice',discountedprice,True)

In [69]:
f1=df[(df.make=='Ford')|(df.make=='Chevrolet')]
f1['discountedprice']=f1['discountedprice']*0.9
df[(df.make=='Ford')|(df.make=='Chevrolet')]=f1
f2=df[(df.make!='Ford')|(df.make!='Chevrolet')]
f2['discountedprice']=f2['discountedprice']*0.8
df[(df.make!='Ford')|(df.make!='Chevrolet')]=f2
df

C:\Users\krish\AppData\Local\Temp/ipykernel_19884/337043820.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f1['discountedprice']=f1['discountedprice']*0.9

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,discountedprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,17200.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,17200.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,24000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,22200.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,53600.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,26400.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,24640.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,27200.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,8880.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,19224.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [70]:
# Task 7
df=df.drop(['saledate','vin'],axis=1)
df

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mmr,sellingprice,discountedprice
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,17200.0
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,17200.0
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,24000.0
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,22200.0
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,53600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,33000,26400.0
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,24640.0
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,27200.0
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,8880.0
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,19224.0

In [71]:
print(df.isnull().sum())
print(df.info())

year                   0
make               10301
model              10399
trim               10651
body               13195
transmission       65353
state                  1
condition          11794
odometer              94
color                749
interior             749
seller                 0
mmr                    0
sellingprice           0
discountedprice        0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   year             558837 non-null  int64
 1   make             548536 non-null  object
 2   model            548438 non-null  object
 3   trim             548186 non-null  object
 4   body             545642 non-null  object
 5   transmission     493484 non-null  object
 6   state            558836 non-null  object
 7   condition        547043 non-null  float64
 8   odometer         558743 non-null  float64
 9   color            558088 non-null  object
 10  interior         558088 non-null  object
 11  seller           558837 non-null  object
 12  mmr              558837 non-null  int64
 13  sellingprice     558837 non-null  int64
 14  discountedprice  558837 non-null  float64
dtypes: float64(3), int64(3), object(9)
memory usage: 64.0+ MB
None

In [72]:
g=df['make'].value_counts()
print(g.sort_values(ascending=False))
df['make']=df['make'].fillna('Ford')
print(df.isnull().sum())

Ford          93554
Chevrolet     60197
Nissan        53946
Toyota        39871
Dodge         30710
              ...
airstream         1
dot               1
hyundai tk        1
mazda tk          1
Lotus             1
Name: make, Length: 96, dtype: int64
year                   0
make                   0
model              10399
trim               10651
body               13195
transmission       65353
state                  1
condition          11794
odometer              94
color                749
interior             749
seller                 0
mmr                    0
sellingprice           0
discountedprice        0
dtype: int64

In [73]:
g1=df['model'].value_counts()
print(g1.sort_values(ascending=False))
df['model']=df['model'].fillna('Altima')
print(df.isnull().sum())

Altima        19349
F-150         14479
Fusion        12946
Camry         12545
Escape        11861
              ...
Cabriolet         1
SLS AMG GT        1
Spirit            1
B-Series          1
458 Italia        1
Name: model, Length: 973, dtype: int64
year                   0
make                   0
model                  0
trim               10651
body               13195
transmission       65353
state                  1
condition          11794
odometer              94
color                749
interior             749
seller                 0
mmr                    0
sellingprice           0
discountedprice        0
dtype: int64

In [74]:
g2=df['trim'].value_counts()
print(g2.sort_values(ascending=False))
df['trim']=df['trim'].fillna('Base')
print(df.isnull().sum())

Base            55817
SE              43648
LX              20757
Limited         18356
LT              16915
                ...
4x2 v10 xlt         1
Signature L         1
fwd ext base        1
ed bauer            1
Power Wagon         1
Name: trim, Length: 1972, dtype: int64
year                   0
make                   0
model                  0
trim                   0
body               13195
transmission       65353
state                  1
condition          11794
odometer              94
color                749
interior             749
seller                 0
mmr                    0
sellingprice           0
discountedprice        0
dtype: int64

In [75]:
g3=df['body'].value_counts()
print(g3.sort_values(ascending=False))
df['body']=df['body'].fillna('Sedan')
print(df.isnull().sum())

Sedan          199437
SUV            119292
sedan           41906
suv             24552
Hatchback       21380
                ...
Ram Van             1
CTS-V Wagon         1
g37 coupe           1
cab plus 4          1
cts wagon           1
Name: body, Length: 87, dtype: int64
year                   0
make                   0
model                  0
trim                   0
body                   0
transmission       65353
state                  1
condition          11794
odometer              94
color                749
interior             749
seller                 0
mmr                    0
sellingprice           0
discountedprice        0
dtype: int64

In [76]:
g4=df['transmission'].value_counts()
print(g4.sort_values(ascending=False))
df['transmission']=df['transmission'].fillna('automatic')
print(df.isnull().sum())

automatic    475914
manual        17544
sedan            15
Sedan            11
Name: transmission, dtype: int64
year                   0
make                   0
model                  0
trim                   0
body                   0
transmission           0
state                  1
condition          11794
odometer              94
color                749
interior             749
seller                 0
mmr                    0
sellingprice           0
discountedprice        0
dtype: int64

In [77]:
g5=df['state'].value_counts()
print(g5.sort_values(ascending=False))
df['state']=df['state'].fillna('fl')
print(df.isnull().sum())

fl    82952
ca    73152
pa    53909
tx    45914
ga    34753
nj    27784
il    23486
nc    21845
oh    21575
tn    20895
mo    16013
mi    15511
nv    12685
va    12029
md    11158
wi     9852
mn     9429
az     8741
co     7776
wa     7416
ma     6729
ny     5699
in     4326
sc     4252
ne     4013
on     3442
pr     2725
la     2191
ms     1853
ut     1836
qc     1245
hi     1237
or     1155
ab      928
nm      171
ok       72
ns       61
al       26
Name: state, dtype: int64
year                   0
make                   0
model                  0
trim                   0
body                   0
transmission           0
state                  0
condition          11794
odometer              94
color                749
interior             749
seller                 0
mmr                    0
sellingprice           0
discountedprice        0
dtype: int64

In [78]:
g6=df['color'].value_counts()
print(g6.sort_values(ascending=False))
df['color']=df['color'].fillna('black ')
print(df.isnull().sum())

black        110974
white        106677
silver        83394
gray          82860
blue          51144
red           43573
—             24686
green         11382
gold          11342
beige          9222
burgundy       8972
brown          6717
orange         2078
purple         1561
off-white      1449
yellow         1285
charcoal        479
turquoise       236
pink             42
lime             15
Name: color, dtype: int64
year                   0
make                   0
model                  0
trim                   0
body                   0
transmission           0
state                  0
condition          11794
odometer              94
color                  0
interior             749
seller                 0
mmr                    0
sellingprice           0
discountedprice        0
dtype: int64

In [79]:
g7=df['interior'].value_counts()
print(g7.sort_values(ascending=False))
df['interior']=df['interior'].fillna('black ')
print(df.isnull().sum())

black        244347
gray         178582
beige         59758
tan           44093
—             17076
brown          8640
red            1359
blue           1138
silver         1099
off-white       480
purple          339
gold            324
white           252
green           245
burgundy        191
orange          145
yellow           20
Name: interior, dtype: int64
year                   0
make                   0
model                  0
trim                   0
body                   0
transmission           0
state                  0
condition          11794
odometer              94
color                  0
interior               0
seller                 0
mmr                    0
sellingprice           0
discountedprice        0
dtype: int64

In [80]:
g8=df['condition'].mean()
print(g7)
df['condition']=df['condition'].fillna(3.424510504655353)
print(df.isnull().sum())

black        244347
gray         178582
beige         59758
tan           44093
—             17076
brown          8640
red            1359
blue           1138
silver         1099
off-white       480
purple          339
gold            324
white           252
green           245
burgundy        191
orange          145
yellow           20
Name: interior, dtype: int64
year                0
make                0
model               0
trim                0
body                0
transmission        0
state               0
condition           0
odometer           94
color               0
interior            0
seller              0
mmr                 0
sellingprice        0
discountedprice     0
dtype: int64

In [81]:
g9=df['odometer'].mean()
print(g9)
df['odometer']=df['odometer'].fillna(68320.43754821089)
print(df.isnull().sum())

68320.43754821089
year               0
make               0
model              0
trim               0
body               0
transmission       0
state              0
condition          0
odometer           0
color              0
interior           0
seller             0
mmr                0
sellingprice       0
discountedprice    0
dtype: int64