# ETL Operations Using Python

In [1]:
import mysql.connector as sql
from sqlalchemy import create_engine
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('housing.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB
None

In [5]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [7]:
a1=df[(df.LotArea>6000)&(df.LotConfig=='Corner')]
print(a1.shape)
print(a1)

(238, 81)
        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
3        4          70       RL         60.0     9550   Pave   NaN      IR1
7        8          60       RL          NaN    10382   Pave   NaN      IR1
9       10         190       RL         50.0     7420   Pave   NaN      Reg
14      15          20       RL          NaN    10920   Pave   NaN      IR1
15      16          45       RM         51.0     6120   Pave   NaN      Reg
...    ...         ...      ...          ...      ...    ...   ...      ...
1407  1408          20       RL          NaN     8780   Pave   NaN      IR1
1413  1414          20       RL         88.0    10994   Pave   NaN      IR1
1420  1421          60       RL         90.0    11700   Pave   NaN      Reg
1428  1429          30       RM         60.0     7200   Pave   NaN      Reg
1429  1430          20       RL          NaN    12546   Pave   NaN      IR1

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
3            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
7            Lvl    AllPub  ...        0    NaN    NaN        Shed     350
9            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
14           Lvl    AllPub  ...        0    NaN   GdWo         NaN       0
15           Lvl    AllPub  ...        0    NaN  GdPrv         NaN       0
...          ...       ...  ...      ...    ...    ...         ...     ...
1407         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1413         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1420         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1428         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1429         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
3         2   2006        WD        Abnorml     140000
7        11   2009        WD         Normal     200000
9         1   2008        WD         Normal     118000
14        5   2008        WD         Normal     157000
15        7   2007        WD         Normal     132000
...     ...    ...       ...            ...        ...
1407      3   2009        WD         Normal     112000
1413      9   2009       COD        Abnorml     257000
1420      5   2006        WD         Normal     179900
1428      2   2010        WD        Abnorml     119000
1429      4   2007        WD         Normal     182900

[238 rows x 81 columns]

In [10]:
# Task 2
b=df[(df.BldgType=='1Fam')&(df.HouseStyle=='1Story')&(df.LandContour=='Lvl')]
print(b.shape)
print(b)

(545, 81)
        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
1        2          20       RL         80.0     9600   Pave   NaN      Reg
6        7          20       RL         75.0    10084   Pave   NaN      Reg
10      11          20       RL         70.0    11200   Pave   NaN      Reg
12      13          20       RL          NaN    12968   Pave   NaN      IR2
13      14          20       RL         91.0    10652   Pave   NaN      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1453  1454          20       RL         90.0    17217   Pave   NaN      Reg
1454  1455          20       FV         62.0     7500   Pave  Pave      Reg
1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
1458  1459          20       RL         68.0     9717   Pave   NaN      Reg
1459  1460          20       RL         75.0     9937   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
1            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
6            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
10           Lvl    AllPub  ...        0    NaN    NaN         NaN       0
12           Lvl    AllPub  ...        0    NaN    NaN         NaN       0
13           Lvl    AllPub  ...        0    NaN    NaN         NaN       0
...          ...       ...  ...      ...    ...    ...         ...     ...
1453         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1454         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1456         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1458         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1459         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
1         5   2007        WD         Normal     181500
6         8   2007        WD         Normal     307000
10        2   2008        WD         Normal     129500
12        9   2008        WD         Normal     144000
13        8   2007       New        Partial     279500
...     ...    ...       ...            ...        ...
1453      7   2006        WD        Abnorml      84500
1454     10   2009        WD         Normal     185000
1456      2   2010        WD         Normal     210000
1458      4   2010        WD         Normal     142125
1459      6   2008        WD         Normal     147500

[545 rows x 81 columns]

In [28]:
# Task 3
c=df[df.LotArea==df.LotArea.min()]
c

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
956,957,160,RM,24.0,1300,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,5,2009,WD,Normal,124000

In [23]:
c1=df.sort_values(['LotArea']).head(10)
c2=c1.sort_values(['SalePrice'],ascending=False)
c2

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
956,957,160,RM,24.0,1300,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,5,2009,WD,Normal,124000
225,226,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,COD,Abnorml,112000
1038,1039,160,RM,21.0,1533,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,97000
232,233,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,94500
1449,1450,180,RM,21.0,1533,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2006,WD,Abnorml,92000
75,76,180,RM,21.0,1596,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,11,2009,WD,Normal,91000
235,236,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2008,WD,Normal,89500
489,490,180,RM,21.0,1526,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,86000
1039,1040,180,RM,21.0,1477,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2009,WD,Normal,80000
614,615,180,RM,21.0,1491,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,75500

In [39]:
# Task 4
d=df[(df.BedroomAbvGr>3)&(df.BsmtFullBath==1)&(df.Exterior1st=='CemntBd')]
d

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
316,317,60,RL,94.0,13005,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,8,2009,WD,Normal,260000
349,350,60,RL,56.0,20431,Pave,NaN,IR2,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,New,Partial,437154
769,770,60,RL,47.0,53504,Pave,NaN,IR2,HLS,AllPub,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,538000
1068,1069,160,RM,42.0,3964,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,6,2006,WD,Normal,151400

In [43]:
# Task 5
e=df[(df.GarageCars==2)&(df.GarageType=='Attchd')&(df.GarageArea>=500)]
e

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
22,23,20,RL,75.0,9742,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,230000
23,24,120,RM,44.0,4224,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,129900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1438,1439,20,RM,90.0,7407,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,4,2010,WD,Normal,149700
1439,1440,60,RL,80.0,11584,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2007,WD,Normal,197000
1444,1445,20,RL,63.0,8500,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2007,WD,Normal,179600
1447,1448,60,RL,80.0,10000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2007,WD,Normal,240000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000

In [48]:
db=sql.connect(host='localhost',user='root',password='Sukrit_1996')
f=db.cursor()
f.execute('create database housing')

In [49]:
engine=create_engine('mysql+pymysql://{user}:{pw}@{host}/{db}'.format(host='localhost:3306',db='housing',user='root',pw='Sukrit_1996'))
a1.to_sql('Corner_Area>6000',engine,index=False)

C:\Users\krish\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'Corner_Area>6000' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [50]:
engine=create_engine('mysql+pymysql://{user}:{pw}@{host}/{db}'.format(host='localhost:3306',db='housing',user='root',pw='Sukrit_1996'))
b.to_sql('1Fam1StryLvl',engine,index=False)

C:\Users\krish\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name '1Fam1StryLvl' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [55]:
engine=create_engine('mysql+pymysql://{user}:{pw}@{host}/{db}'.format(host='localhost:3306',db='housing',user='root',pw='Sukrit_1996'))
c.to_sql('compacthousing',engine,index=False)

In [52]:
engine=create_engine('mysql+pymysql://{user}:{pw}@{host}/{db}'.format(host='localhost:3306',db='housing',user='root',pw='Sukrit_1996'))
d.to_sql('BdrmBsmntCnrt',engine,index=False)

C:\Users\krish\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'BdrmBsmntCnrt' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [53]:
engine=create_engine('mysql+pymysql://{user}:{pw}@{host}/{db}'.format(host='localhost:3306',db='housing',user='root',pw='Sukrit_1996'))
e.to_sql('2CarGarage',engine,index=False)

C:\Users\krish\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name '2CarGarage' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)